In [4]:
#Task 3
import sqlite3
def openDB(db):
    con = sqlite3.connect(db)
    con.row_factory = sqlite3.Row
    return con

con = openDB('COMPANY.db')
con.execute('''
CREATE TABLE IF NOT EXISTS `Employee` (
	`EmployeeID`	TEXT NOT NULL UNIQUE,
	`Employee_name`	TEXT NOT NULL,
	`Home_address`	TEXT NOT NULL,
	PRIMARY KEY(`EmployeeID`)
);''')
con.execute('''CREATE TABLE IF NOT EXISTS `Department` (
	`DepartmentID`	TEXT NOT NULL UNIQUE,
	`Department_name`	TEXT NOT NULL,
	`Location`	TEXT NOT NULL,
	`Manager`	TEXT NOT NULL,
	PRIMARY KEY(`DepartmentID`)
);''')
con.execute('''CREATE TABLE IF NOT EXISTS `Employee_deployment` (
	`EmployeeID`	TEXT NOT NULL,
	`DepartmentID`	TEXT NOT NULL,
	`Date_of_joining`	TEXT NOT NULL,
	`Active`	TEXT NOT NULL,
	FOREIGN KEY(`EmployeeID`) REFERENCES `Employee`(`EmployeeID`),
	PRIMARY KEY(`EmployeeID`,`DepartmentID`),
	FOREIGN KEY(`DepartmentID`) REFERENCES `Department`(`DepartmentID`)
);''')
con.close()

In [ ]:
#Task 3.2
con = openDB('COMPANY.db')
def getData(filename):
    f = open(filename)
    ret = []
    for line in f:
        ret.append(line.strip('\n').split(','))
    return ret

EMPLOYEE = getData('EMPLOYEE.txt')
DEPARTMENT = getData('DEPARTMENT.txt')
EMPLOYEE_DEPLOYMENT = getData('EMPLOYEE_DEPLOYMENT.txt')
con.execute("DELETE FROM 'EMPLOYEE'")
con.execute("DELETE FROM 'DEPARTMENT'")
con.execute("DELETE FROM 'EMPLOYEE_DEPLOYMENT'")
con.commit()



for i in range(1,len(EMPLOYEE)):
    con.execute('INSERT INTO EMPLOYEE(EmployeeID,Employee_name,Home_address) VALUES (?,?,?)',(EMPLOYEE[i][0],EMPLOYEE[i][1],EMPLOYEE[i][2]))
    con.commit()

for i in range(1,len(DEPARTMENT)):
    con.execute(f'INSERT INTO DEPARTMENT({DEPARTMENT[0][0]},{DEPARTMENT[0][1]},{DEPARTMENT[0][2]},{DEPARTMENT[0][3]}) VALUES (?,?,?,?);',(DEPARTMENT[i][0],DEPARTMENT[i][1],DEPARTMENT[i][2],DEPARTMENT[i][3]))
    con.commit()

for i in range(1,len(EMPLOYEE_DEPLOYMENT)):
    con.execute(f'INSERT INTO EMPLOYEE_DEPLOYMENT({EMPLOYEE_DEPLOYMENT[0][0]},{EMPLOYEE_DEPLOYMENT[0][1]},{EMPLOYEE_DEPLOYMENT[0][2]},{EMPLOYEE_DEPLOYMENT[0][3]}) VALUES (?,?,?,?);',(EMPLOYEE_DEPLOYMENT[i][0],EMPLOYEE_DEPLOYMENT[i][1],EMPLOYEE_DEPLOYMENT[i][2],EMPLOYEE_DEPLOYMENT[i][3]))
    con.commit()

con.close()

In [5]:
#Task 3.3
con = openDB('COMPANY.db')
num = input('employee number is: ')
cur = con.cursor()
res = con.execute('SELECT DepartmentID,Active FROM Employee_deployment WHERE EmployeeID=?',(num,))
result = res.fetchall()
for i in range(len(result)):
    print(result[i][0],result[i][1])

employee number is: E108